<!-- /Menú izquierdo desplegable -->
<nav class="child-menu">
    <div class="child-menu-inner">
        <div class="imagen-menu">
            <img src="assets/images/logos/bulkit-purple.svg" alt="">
        </div>
        <!-- Sidebar menu 1 -->
        <ul id="disenio" class="sidebar-menu is-active animated preFadeInRIght fadeInRight">
            <ul>
                <li class="child-header">
                    <div class="sidebar-title">Diseño</div>
                    <a id="close-child-menu" class="menu-wrapper">
                        <span class="icon-box-toggle ef-4">
                            <span class="rotate">
                                <i class="icon-line-top">  	 </i>
                                <i class="icon-line-center">  </i>
                                <i class="icon-line-bottom">  </i>
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
            <li><a class="parent-link"><span class="material-icons">add</span>Agregar página</a></li>
            <li><a class="parent-link"><span class="material-icons">insert_drive_file</span>Inicio</a></li>
            <li><a class="parent-link"><span class="material-icons">insert_drive_file</span>Productos</a></li>
            <li><a class="parent-link"><span class="material-icons">insert_drive_file</span>Contacto</a></li>
        </ul>
        <!-- /Sidebar menu 1 -->
        <!-- Sidebar menu 2 -->
        <ul id="modulos" class="sidebar-menu animated preFadeInRIght fadeInRight">
            <li class="child-header">
                <div class="sidebar-title">Módulos</div>
                <a class="menu-wrapper">
                    <span class="icon-box-toggle ef-4">
                            <span class="rotate">
                                <i class="icon-line-top">  	 </i>
                                <i class="icon-line-center">  </i>
                                <i class="icon-line-bottom">  </i>
                            </span>
                    </span>
                </a>
            </li>
            <li><a class="parent-link"><span class="material-icons">collections</span>Galería</a> </li>
            <li><a class="parent-link"><span class="material-icons">description</span>Blog</a> </li>
            <li><a class="parent-link"><span class="material-icons">panorama</span>Slider</a> </li>
            <li><a class="parent-link"><span class="material-icons">work</span>Portafolio</a> </li>
            <li><a class="parent-link"><span class="material-icons">loyalty</span>Servicios</a> </li>
            <li><a class="parent-link"><span class="material-icons">local_offer</span>Productos</a> </li>
            <li><a class="parent-link"><span class="material-icons">grade</span>Categorías</a> </li>
            <li><a class="parent-link"><span class="material-icons">group_work</span>Equipo</a> </li>
            <li><a class="parent-link"><span class="material-icons">insert_emoticon</span>Clientes</a> </li>
            <li><a class="parent-link"><span class="material-icons">supervisor_account</span>Proveedores</a> </li>
        </ul>
        <!-- /Sidebar menu 2 -->
        <!-- Sidebar menu 3 -->
        <ul id="clientes" class="sidebar-menu animated preFadeInRIght fadeInRight">
            <li class="child-header">
                <div class="sidebar-title">Clientes</div>
                <a class="menu-wrapper">
                    <span class="icon-box-toggle ef-4">
                            <span class="rotate">
                                <i class="icon-line-top">  	 </i>
                                <i class="icon-line-center">  </i>
                                <i class="icon-line-bottom">  </i>
                            </span>
                    </span>
                </a>
            </li>
            <li><a class="parent-link"><span class="material-icons">list</span>Formularios</a></li>
            <li class="have-children"><a class="parent-link"><span class="material-icons">people</span>Mis clientes</a>
                <ul>
                    <li><a>Lista de clientes </a></li>
                    <li><a>Nuevo cliente </a></li>
                </ul>
            </li>
        </ul>
        <!-- /Sidebar menu 3 -->
        <!-- Sidebar menu 4 -->
        <ul id="archivos" class="sidebar-menu animated preFadeInRIght fadeInRight">
            <li class="child-header">
                <div class="sidebar-title">Archivos</div>
                <a class="menu-wrapper">
                    <span class="icon-box-toggle ef-4">
                            <span class="rotate">
                                <i class="icon-line-top">  	 </i>
                                <i class="icon-line-center">  </i>
                                <i class="icon-line-bottom">  </i>
                            </span>
                    </span>
                </a>
            </li>
            <li><a class="parent-link"><span class="material-icons">content_copy</span>Todos</a></li>
            <li><a class="parent-link"><span class="material-icons">perm_media</span>Imágenes</a></li>
        </ul>
        <!-- /Sidebar menu 4 -->
        <!-- Sidebar menu 5 -->
        <ul id="variables" class="sidebar-menu animated preFadeInRIght fadeInRight">
            <li class="child-header">
                <div class="sidebar-title">Variables</div>
                <a class="menu-wrapper">
                    <span class="icon-box-toggle ef-4">
                            <span class="rotate">
                                <i class="icon-line-top">  	 </i>
                                <i class="icon-line-center">  </i>
                                <i class="icon-line-bottom">  </i>
                            </span>
                    </span>
                </a>
            </li>
            <li><a class="parent-link"><span class="material-icons">apps</span>Todas</a></li>
            <li><a class="parent-link"><span class="material-icons">email</span>Correos</a></li>
        </ul>
        <!-- /Sidebar menu 5 -->
        <!-- Sidebar menu 6 -->
        <ul id="usuarios" class="sidebar-menu animated preFadeInRIght fadeInRight">
            <li class="child-header">
                <div class="sidebar-title">Usuarios</div>
                <a class="menu-wrapper">
                    <span class="icon-box-toggle ef-4">
                            <span class="rotate">
                                <i class="icon-line-top">  	 </i>
                                <i class="icon-line-center">  </i>
                                <i class="icon-line-bottom">  </i>
                            </span>
                    </span>
                </a>
            </li>
            <li><a class="parent-link"><span class="material-icons">add</span>Nuevo usuario</a>
            </li>
            <li><a class="parent-link"><span class="material-icons">account_circle</span>Ver todos</a>
            </li>
        </ul>
        <!-- /Sidebar menu 6 -->
        <!-- Sidebar menu 7 -->
        <ul id="admin" class="sidebar-menu animated preFadeInRIght fadeInRight">
            <li class="child-header">
                <div class="sidebar-title">Admin</div>
                <a class="menu-wrapper">
                    <span class="icon-box-toggle ef-4">
                            <span class="rotate">
                                <i class="icon-line-top">  	 </i>
                                <i class="icon-line-center">  </i>
                                <i class="icon-line-bottom">  </i>
                            </span>
                    </span>
                </a>
            </li>
            <li><a class="parent-link"><span class="material-icons">language</span>Dominios</a></li>
            <li><a class="parent-link"><span class="material-icons">dns</span>Hosting</a></li>
        </ul>
        <!-- /Sidebar menu 7 -->
        <!-- Sidebar menu 8 -->
        <ul id="mi_tienda" class="sidebar-menu animated preFadeInRIght fadeInRight">
            <li class="child-header">
                <div class="sidebar-title">Mi tienda</div>
                <a class="menu-wrapper">
                    <span class="icon-box-toggle ef-4">
                            <span class="rotate">
                                <i class="icon-line-top">  	 </i>
                                <i class="icon-line-center">  </i>
                                <i class="icon-line-bottom">  </i>
                            </span>
                    </span>
                </a>
            </li>
            <li><a class="parent-link"><span class="material-icons">store</span>Inicio</a> </li>
            <li class="have-children"><a class="parent-link"><span class="material-icons">local_offer</span>Productos</a>
                <ul>
                    <li><a>Tus productos </a></li>
                    <li><a>Categorías</a></li>
                    <li><a>Tu inventario</a></li>
                </ul>
            </li>
            <li class="have-children"><a class="parent-link"><span class="material-icons">local_shipping</span>Pedidos</a>
                <ul>
                    <li><a>Todos los pedidos </a></li>
                    <li><a>Pedidos inconclusos </a></li>
                </ul>
            </li>
            <li class="have-children"><a class="parent-link"><span class="material-icons">people</span>Clientes</a>
                <ul>
                    <li><a>Tus clientes </a></li>
                    <li><a>Categorías </a></li>
                </ul>
            </li>
            <li class="have-children"><a class="parent-link"><span class="material-icons">timeline</span>Estadísticas</a>
                <ul>
                    <li><a>Tus ventas </a></li>
                    <li><a>Tus visitantes </a></li>
                </ul>
            </li>
            <li><a class="parent-link"><span class="material-icons">card_giftcard</span>Descuentos</a></li>
            <li><a class="parent-link"><span class="material-icons">visibility</span>Ver tienda</a></li>
            <li class="margen-menu"><a class="parent-link"><span class="material-icons">panorama</span>Slider</a></li>
            <li class="margen-menu"><a class="parent-link"><span class="material-icons">help_outline</span>Ayuda</a></li>
            <li><a class="parent-link"><span class="material-icons">settings</span>Ajustes de tienda</a></li>
        </ul>
        <!-- /Sidebar menu 8 -->
        <!-- Logo inferior desplegable-->
        <ul>
            <li class="abajo">
                <a class="parent-link"><img src="assets/images/logo_jalea_de_medusa_t.png" class="imagen-inferior" alt="logotipo jalea de medusa"></a>
            </li>
        </ul>
        <!-- /Logo inferior desplegable-->
    </div>
</nav>
<div id="dashboard-wrapper" class="columns  col-color">
    <div class="content column is-12">
        <!-- Dashboard Wrapper -->
        <div class="dashboard-wrapper">
            <!-- Barra superior de búsqueda-->
            <div class="columns is-mobile is-vcentered pb-60-desktop">
                <!-- Buscador -->
                <div class="column is-6-desktop is-offset-4-desktop pr-5">
                    <div class="component-block">
                        <div class="field columns is-mobile">
                            <div class="column is-8-desktop is-7-mobile buscador-input">
                                <div class="control auto-cpl-control has-icons-left">
                                    <input id="users-autocpl" class="input is-medium redondeado autocpl" type="text" placeholder="Buscar...">
                                    <span class="icon is-left">
                                <i class="fa fa-search"></i>
                            </span>
                                </div>
                            </div>
                            <div class="column is-3-desktop is-5-mobile buscador-select dropdown dropdown-trigger">
                                <div class="control auto-cpl-control has-icons-left">
                                    <input id="users-autocpl2" class="input is-medium redondeado autocpl" type="text" placeholder="Productos">
                                    <span class="icon is-left">
                              <i class="fa fa-angle-down"></i>
                          </span>
                                </div>
                                <div class="dropdown-menu drop-busqueda">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item">
                                            <span class="material-icons font-15">local_offer</span>
                                            <span>Productos</span>
                                        </a>
                                        <a class="dropdown-item">
                                            <span class="material-icons font-15">local_shipping</span>
                                            <span>Pedidos</span>
                                        </a>
                                        <a class="dropdown-item">
                                            <span class="material-icons font-15">account_circle</span>
                                            <span>Clientes</span>
                                        </a>
                                        <a class="dropdown-item">
                                            <span class="material-icons font-15">help_outline</span>
                                            <span>Ayuda</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Imagen Perfil -->
                <div class="column is-2-desktop is-3-touch">
                    <div class="dropdown dropdown-trigger flotar-der">
                        <div>
                            <ul class="profile">
                                <li class="is-inline-flex">
                                    <!-- Profile avatar -->
                                    <img class="perfil" src="https://via.placeholder.com/250x250" alt="" data-demo-src="assets/images/avatars/helen.jpg">
                                    <!-- /Profile avatar -->
                                    <p class="margin-10 texto-azul nombre-perfil is-hidden-mobile">Alexandra</p>
                                </li>
                            </ul>
                        </div>
                        <!-- Dropdown perfil-->
                        <div class="dropdown-menu drop-perfil">
                            <div class="dropdown-content">
                                <a class="dropdown-item">
                                    <span class="material-icons font-15">account_circle</span>
                                    <span>Mi cuenta</span>
                                </a>
                                <a class="dropdown-item">
                                    <span class="material-icons font-15">store</span>
                                    <span>Información de tienda</span>
                                </a>
                                <a class="dropdown-item">
                                    <span class="material-icons font-15">power_settings_new</span>
                                    <span>Cerrar sesión</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Fin header-->
            <div class="columns">
                <div class="column">
                    <!-- Main content -->
                    <div id="main-dashboard" class="section-wrapper">
                        <!-- Fila -->
                        <div id="basic-layout" class="columns dashboard-columns bloque1200">
                            <!-- Tile -->
                            <div class="column is-5-widescreen is-12-touch">
                                <h2 class="titulo-princi">Tus productos</h2>
                                <div class="is-inline-block-mobile">
                                    <a><button class="button boton-nuevo is-inline">Nuevo <span class="is-hidden-mobile">producto</span> <span class="material-icons">add</span></button></a>
                                    <button class="button boton-tra is-inline"><span class="is-hidden-mobile">Importar </span><span class="material-icons">vertical_align_top</span></button>
                                    <button class="button boton-tra is-inline"><span class="is-hidden-mobile">Exportar </span><span class="material-icons">vertical_align_bottom</span></button>
                                </div>
                                <div class="is-inline-block-mobile">
                                    <button class="button boton-inf is-inline invs1200" *ngIf="filterButtons" (click)="showVisibleFields()"><span class="is-hidden-mobile">Hacer visible</span> <span class="material-icons">visibility</span></button>
                                    <button class="button boton-inf is-inline invs1200" *ngIf="filterButtons" (click)="showInvisibleFields()"><span class="is-hidden-mobile">Hacer invisible</span> <span class="material-icons">visibility_off</span></button>
                                </div>
                            </div>
                            <!-- Tile -->
                            <div class="column is-7-widescreen is-12-touch">
                                <h3 class="titulo-sec align-right is-hidden-touch no-wide">Filtros</h3>
                                <div class="flotar-der">
                                    <button class="button boton-izq is-inline dropdown dropdown-trigger"><span>Ordenar</span>  <span class="material-icons">import_export</span>
                                      <div class="dropdown-menu">
                                          <div class="dropdown-content">
                                            <div class="jq-dropdown" >
                                      <ul class="jq-dropdown-menu">
                                          <li>
                                              <label class="radio-wrap is-small is-primary">
                                                  <input type="radio" class="b-radio" name="radio-group">
                                                  <span></span>
                                                  A-Z nombre
                                              </label>
                                          </li>
                                          <li>
                                              <label class="radio-wrap is-small is-primary">
                                                  <input type="radio" class="b-radio" name="radio-group">
                                                  <span></span>
                                                  Z-A nombre
                                              </label>
                                          </li>
                                          <li>
                                              <label class="radio-wrap is-small is-primary">
                                                  <input type="radio" class="b-radio" name="radio-group">
                                                  <span></span>
                                                  Precio: menor a mayor
                                              </label>
                                          </li>
                                          <li>
                                              <label class="radio-wrap is-small is-primary">
                                                  <input type="radio" class="b-radio" name="radio-group">
                                                  <span></span>
                                                  Precio: mayor a menor
                                              </label>
                                          </li>
                                          <li>
                                              <label class="radio-wrap is-small is-primary">
                                                  <input type="radio" class="b-radio" name="radio-group">
                                                  <span></span>
                                                  Fecha: más reciente
                                              </label>
                                          </li>
                                          <li>
                                              <label class="radio-wrap is-small is-primary">
                                                  <input type="radio" class="b-radio" name="radio-group">
                                                  <span></span>
                                                  Fecha: más antiguo
                                              </label>
                                          </li>
                                          <li>
                                              <label class="radio-wrap is-small is-primary">
                                                  <input type="radio" class="b-radio" name="radio-group">
                                                  <span></span>
                                                  Más vendidos
                                              </label>
                                          </li>
                                          <li>
                                              <label class="radio-wrap is-small is-primary">
                                                  <input type="radio" class="b-radio" name="radio-group">
                                                  <span></span>
                                                  Menos vendidos
                                              </label>
                                          </li>
                                          <li>
                                              <label class="radio-wrap is-small is-primary">
                                                  <input type="radio" class="b-radio" name="radio-group">
                                                  <span></span>
                                                  Con más inventario
                                              </label>
                                          </li>
                                          <li>
                                              <label class="radio-wrap is-small is-primary">
                                                  <input type="radio" class="b-radio" name="radio-group">
                                                  <span></span>
                                                  Con menos inventario
                                              </label>
                                          </li>
                                      </ul>
                                  </div>
                                          </div>
                                      </div>
                                    </button>

                                    <button class="button boton-cen is-inline dropdown dropdown-trigger"><span>Categoría</span>  <span class="material-icons">expand_more</span>
                                      <div class="dropdown-menu">
                                          <div class="dropdown-content">
                                            <div  class="jq-dropdown">
                                                <ul class="jq-dropdown-menu">
                                                    <li *ngFor="let item of checklistCategoria">
                                                        <label class="checkbox-container"> 
                                                            <span class="checkbox-label">{{item.value}}</span>
                                                            <input id="{{item.id}}" [(ngModel)]="item.isSelected" value="{{item.id}}" (change)="hideBorrarFiltros()" type="checkbox" data-id='{{item.data_id}}' >
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                          </div>
                                      </div>
                                    </button>

                                    <button class="button boton-cen is-inline boton-der-m">Fecha  <span class="material-icons">expand_more</span></button>
                                    <button class="button boton-cen is-inline boton-izq-m">Precio  <span class="material-icons">expand_more</span></button>
                                    <button class="button boton-cen is-inline dropdown dropdown-trigger"><span>Estatus</span><span class="material-icons">expand_more</span>

                                    </button>
                                    <button class="button boton-der is-inline dropdown dropdown-trigger" (click)="showCheckedCategories()">Filtrar  <span class="material-icons">filter_list</span></button>
                                </div>
                                <div class="flotar-der no-flotar">
                                    <button class="button boton-inf is-inline vs1200" *ngIf="filterButtons"><span class="is-hidden-mobile" (click)="showVisibleFields()">Hacer visible</span> <span class="material-icons">visibility</span></button>
                                    <button class="button boton-inf is-inline vs1200" *ngIf="filterButtons"><span class="is-hidden-mobile" (click)="showInvisibleFields()">Hacer invisible</span> <span class="material-icons">visibility_off</span></button>
                                    <button class="button boton-inf es-info2 is-inline" *ngIf="mostrarFiltro" (click)="uncheckListCategoria()">Borrar filtros <span class="material-icons">close</span></button>
                                    <button class="button boton-inf es-info2 is-inline">Ver 1-50 <span class="is-hidden-mobile">de 200</span> <span class="material-icons">toc</span></button>
                                </div>

                            </div>
                        </div>
                        <!-- /Stat tiles -->

                        <!-- Fila -->
                        <div class="columns dashboard-columns">
                            <!-- Primer carta-->
                            <div class="column is-12">
                                <!-- Tabs block -->
                                <div class="flex-card raised redondeado-10">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="titulo-check">
                                                    <label class="checkbox-container">
                                                        <input id="check4" type="checkbox" [(ngModel)]="masterSelected" (change)="checkUncheackProducts()">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </th>
                                                <th class="titulo-img">Imagen</th>
                                                <th class="titulo-nombre">Nombre</th>
                                                <th class="is-hidden-mobile">Categoría</th>
                                                <th class="is-hidden-mobile">SKU</th>
                                                <th>Precio</th>
                                                <th class="is-hidden-mobile">Inventario</th>
                                                <th>Estatus</th>
                                            </tr>
                                            <tr *ngFor="let item of checkListProductos">
                                                <td>
                                                    <label class="checkbox-container">
                                                        <input id="{{item.id}}" [(ngModel)]="item.isSelected" class="b-checkbox" type="checkbox" data-id={{item.data_id}} (change)="isAllSelected()">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td><img src="{{item.imagen}}" class="imagen-tabla" alt="" data-demo-src="assets/images/avatars/helen.jpg"></td>
                                                <td>{{item.nombre}}</td>
                                                <td class="is-hidden-mobile">{{item.categoria}}</td>
                                                <td class="is-hidden-mobile">{{item.sku}}</td>
                                                <td>{{item.precio}}</td>
                                                <td class="is-hidden-mobile">{{item.inventario}}</td>
                                                <td class="p-visible"><span>{{item.status}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /Fila -->
                        <!--Fila 2 -->
                        <div class="columns dashboard-columns is-centered mt-60">
                            <div class="column">
                                <!-- Tutoriales -->
                                <a>
                                    <div class="circulo">
                                        <span class="material-icons">local_offer</span>
                                    </div>
                                    <p class="text-center link-tuto">Aprende a gestionar tus productos</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /Main content -->
                </div>
                <!-- /Main view -->
            </div>
        </div>
        <!-- /Dashboard Wrapper -->
    </div>
</div>