<!-- Main sidebar menu -->
<nav class="main-menu">
    <div class="main-menu-inner">

        <!-- Menú izquierdo principal -->
        <ul>
            <li class="main-logo">
                <a><img src="assets/images/logos/favicon_jalea_de_medusa.png" alt=""></a>
            </li>
            <li class="side-icon" data-child-menu="disenio">
                <span class="material-icons">web</span>
            </li>
            <li class="side-icon" data-child-menu="modulos">
                <span class="material-icons">layers</span>
            </li>
            <li class="side-icon" data-child-menu="clientes">
                <span class="material-icons">people</span>
            </li>
            <li class="side-icon" data-child-menu="archivos">
                <span class="material-icons">folder_open</span>
            </li>
            <li class="side-icon" data-child-menu="variables">
                <span class="material-icons">bubble_chart</span>
            </li>
            <li class="side-icon" data-child-menu="usuarios">
                <span class="material-icons">account_circle</span>
            </li>
            <li class="side-icon" data-child-menu="admin">
                <span class="material-icons">business</span>
            </li>
            <li class="side-icon" data-child-menu="mi_tienda">
                <span class="material-icons">store</span>
            </li>
        </ul>
        <!-- /Menú izquierdo principal -->
    </div>
</nav>